    html, body {
      height: 100%;
      margin: 0;
    }
    
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .container-fluid {
      max-width: 100%;
    }