.navbar {
    background-color: #c49bf9;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.nav-link {
    margin-left: 15px;
    text-decoration: none;
    color: #333;

    &:hover {
        text-decoration: underline; // light blue highlight
        color: #002b45;
    }

    &.active {
        font-weight: bold;
        color: #f6f6f6;
    }
}