.navbar {
    background-color: #c49bf9;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-link {
    margin: 0 6px;
    display: inline-block;
    padding: 4px 6px;
    text-decoration: none;
    color: #333;

    &:hover {
        text-decoration: underline; // light blue highlight
        color: #002b45;
    }

    &.active {
        font-weight: bold;
        color: #f6f6f6;
    }
}
