/* You can add global styles to this file, and also import other style files */
.dark-snackbar {
  --mdc-snackbar-container-color: #050012b2;
  --mdc-snackbar-supporting-text-color: #fff;
  --mdc-snackbar-container-shape: 999px;
  --mdc-text-button-container-shape: 999px;
  
  --mdc-snackbar-supporting-text-size: 0.85rem;
  --mdc-snackbar-supporting-text-line-height: 1.2;
}

  /* pill shape */
.dark-snackbar .mdc-snackbar__surface {
  border-radius: 999px;
  padding: 0.6rem 1.5rem;
  max-width: fit-content;
}

.dark-snackbar .mat-mdc-button {
  border-radius: 999px;
  padding: 0 1rem;
  min-width: auto;
  height: 36px;
  background: rgba(28, 126, 192, 0.95);
  font-weight: 600;
}

.dark-snackbar .mat-mdc-button:hover {
  color: #000;
}
